<%- include("templates/header") %> 
<h1 class="container d-flex justify-content-center pt-4 text-center">PAGE NOT FOUND</h1>
<div class="container d-flex justify-content-center mt-4">
    <div class="text-center">
        <img src="gandalf.gif" alt="gandalf" style="width:400px;">
    </div>
</div>
<%- include("templates/footer") %> 