<%- include("templates/header") %> 

<div class="container text-center">
  <h1 class="display-4"><%= error %> required</h1>
  <a href="/createUser" class="btn btn-primary btn-lg mt-4">Try Again</a>
</div>

<%- include("templates/footer") %>
