<%- include("templates/header") %>

<div class="container d-flex justify-content-center pt-4">
    <div class="text-center">
        <h1>Hello, <%= name %>!</h1>
        <img src='/cat.gif' style='width:250px;'>
        <img src='/neo.png' style='width:250px;'>
        <img src='/wren.png' style='width:250px;'>
        <br><br>
        <a href="/logout"><button class="btn btn-danger">Logout</button></a>
    </div>
</div>

<%- include("templates/footer") %>
