<footer style="position: fixed; bottom: 0; width: 100%; background: #f0f0f0; padding: 10px; 
display: flex; align-items: center; justify-content: space-between;">
  
    <img src="workcat.gif" alt="Logo" style="width:40px;">
  
    <div style="text-align: center; flex-grow: 1;">
      <a href="#!" style="margin: 0 10px; color: #3b5998;">
        <span class="material-icons">facebook</span>
      </a>
      <a href="#!" style="margin: 0 10px; color: #55acee;">
        <span class="material-icons">pets</span>
      </a>
      <a href="#!" style="margin: 0 10px; color: #ac2bac;">
        <span class="material-icons">favorite</span>
      </a>
    </div>
  
    <p style="margin: 0; font-size:10px;"><small>Neo & Wren Co.</small></p>
  
  </footer>
  